:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Inconsolata", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-main: Quicksand, Arial, sans-serif;

  --color-pale-dogwood: #edcdc2;
  --color-gray-sand: #e5ccaf;
  --color-gray-lilac: #d4cacd;
  --color-viva-magenta: #bb2649;
  --color-pale-khaki: #bfaf92;
  --color-fields-of-rye: #b7a990;
  --color-agate-gray: #b3b1a1;
  --color-plein-air: #bfcad6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-viva-magenta);
  background-color: var(--color-gray-lilac);
  font-family: var(--font-main);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  max-width: 100%;
}

footer {
  font-size: 0.7rem;
  color: #5e5e5e;
}

footer a {
  text-decoration: underline;
}
