.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description a {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding-top: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.overview {
  text-align: center;
  width: var(--max-width);
}

.overviewItem {
  padding-bottom: 4rem;
  font-size: 1rem;
}

.overviewItem h2 {
  padding-bottom: 1rem;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .main {
    padding: 1rem;
  }

  .overview {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }

  .overview h2 {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
  }

  .description p {
    font-size: 1rem;
  }

  .byio {
    display: none;
  }
}
